@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.chatBg {
  background: radial-gradient(ellipse at 38% 0%, #055e68, #272727);
}
body::-webkit-scrollbar {
  @apply hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-track {
  margin: 15px;
}
.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-lightBlue rounded-full;
}

.chat-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.chat-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-lightBlue rounded-full;
}
